---
layout: default
---
<div id="home" class="home-parallax">
  <div class="home-text-wrapper">

    <div class="home-logo-text">
      <a href="#about">Welcome to R3</a>
    </div>

    <div id="home-slider" class="flexslider">
      <ul class="slides styled-list">
        <li class="home-slide"><p class="home-slide-content"><span class="highlight">Restoring</span>.</p></li>
        <li class="home-slide"><p class="home-slide-content"><span class="highlight">Rational</span>.</p></li>
        <li class="home-slide"><p class="home-slide-content"><span class="highlight">Radical</span>.</p></li>
      </ul>
    </div>
  </div>
</div>

{% include navigation.html %}

<div id="about" class="page">
  <div class="container">
    <div class="row">
      <div class="sixteen columns">
        <div class="title">
          <h1>About R3</h1>
          <div class="subtitle">
            <p>R3 is a non-profit <span class="highlight">think tank</span> that seeks to <span class="highlight">mobilize</span> youth into <span class="highlight">meaningful</span> service around the world.</p>
          </div>
        </div>

        <div class="alert-message info">
          Join our current effort in helping the refugees in <a href="http://calais.r3missions.org">Calais, France</a>
        </div>

      </div>
    </div>
  </div>

  <div class="fullwidth grey">
    <div class="container">
      <div class="fancy-header2">
        <h4>What we do?</h4>
        <h2 class="highlight">Facilitate opportunities for committed youth to volunteer their gifts in service, media, and technology.</h2>
      </div>

      <div class="row">
        <div class="one-third column">
          <div class="service-features">
            <div class="img-container">
              <img src="{% asset_path icons/icons/world.png %}" alt="Service Features">
            </div>
            <h3>Service</h3>
            <p>Service projects tailored to specific areas of need that integrate elements of teaching, healing, and inspiration.</p>
          </div>
        </div>

        <div class="one-third column">
          <div class="service-features">
            <div class="img-container">
              <img src="{% asset_path icons/icons/video.png %}" alt="Media Features">
            </div>
            <h3>Media</h3>
            <p>Capturing service in various media forms to promote global needs and inspire movement.</p>
          </div>
        </div>

        <div class="one-third column">
          <div class="service-features">
            <div class="img-container">
              <img src="{% asset_path icons/icons/phone.png %}" alt="Technology Features">
            </div>
            <h3>Technology</h3>
            <p>Support service efforts and partner organizations with online and mobile tools.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="parallax1" class="parallax">
  <div class="bg1 parallax-bg"></div>
  <div class="overlay"></div>
  <div class="container clearfix">
    <div class="parallax-content">

      <p class="quote">
        <i class="fa fa-quote-left"></i>
        Only a life lived for others is a life worthwhile.
        <i class="fa fa-quote-right"></i>
      </p>
      <div class="quote-author">— Albert Einstein —</div>

    </div>
  </div>
</div>

<div id="leadership" class="page">
  <div class="container">
    <div class="row">
      <div class="sixteen columns">
        <div class="title">
          <h1>Leadership</h1>
          <div class="subtitle">
            <p>Our culturally <span class="highlight">diverse</span> team is <span class="highlight">Young</span>, Experienced, and <span class="highlight">Passionate</span>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fullwidth grey">
    <div class="fancy-header2">
      <h4>Who are we anyway?</h4>
      <h2 class="highlight">Meet the team who built the dream</h2>
    </div>

    <div class="container">
      <div class="row">
        {% if false %}
        <div class="sixteen columns">
          <div class="team-member">
             <div class="team-thumb img-wrp">
               <img src="{% asset_path team/team1.png %}" alt="team">
                <div class="team-overlay">
                  <div class="img-overlay"></div>
                  <div class="overlay-content">
                    <h4>Founder</h4>
                    <p><a data-toggle="modal" href="#team-1" class="modal-popup-link view-profile">View Profile</a></p>
                  </div>
                </div>
              </div>
              <div class="team-desc">
                <h4>MIKE ROSS</h4>
              </div>
              <div id="team-1" class="modal hide fade.in animated fadeIn">
                <div class="member-bio">
                  <div class="container">
                    <a href="#" class="close" data-dismiss="modal">×</a>
                    <div class="member-role">
                      <h1>MIKE ROSS</h1>
                      <h4 class="highlight">Founder</h4>
                    </div>
                    <div class="row">
                      <div class="seven columns">
                        <img src="{% asset_path team/team1.png %}" alt="team">
                        <div class="member-details">
                          <div class="social-icons">
                            <div class="social-icon social-email"><a href="mailto:hallo@example.com" target="_blank" data-original-title="Email">Email</a></div>
                            <div class="social-icon social-behance"><a href="#" target="_blank" data-original-title="Behance">Behance</a></div>
                            <div class="social-icon social-facebook"><a href="#" target="_blank" data-original-title="Facebook">Facebook</a></div>
                            <div class="social-icon social-flickr"><a href="#" target="_blank" data-original-title="Flickr">Flickr</a></div>
                            <div class="social-icon social-forrst"><a href="#" target="_blank" data-original-title="Forrst">Forrst</a></div>
                          </div>
                        </div>
                      </div>
                      <div class="eight columns member-description">
                      <p class="lead">Sed ligula magna, porta in scelerisque ac, gravida fringilla sapien. Sed tempus urna in sem ultricies vehicula vulputate purus ultrices. Aenean orci libero, scelerisque non feugiat gravida, dignissim ut tortor. Phasellus et nulla eros.</p>
                      <h3>Mike's Standard Skills</h3>
                      <div class="skillbar" data-perc="85">
                        <div class="skill-title">Web Design 85%</div>
                        <div class="skill-percentage"></div>
                      </div>
                      <div class="skillbar" data-perc="70">
                        <div class="skill-title">UX Design 70%</div>
                        <div class="skill-percentage"></div>
                      </div>
                      <div class="skillbar" data-perc="60">
                        <div class="skill-title">Brand Packaging 60%</div>
                        <div class="skill-percentage"></div>
                      </div>
                      <div class="skillbar" data-perc="90">
                        <div class="skill-title">Wordpress 90%</div>
                        <div class="skill-percentage"></div>
                      </div>
                      <p>Sed ligula magna, porta in scelerisque ac, gravida fringilla sapien. Sed tempus urna in sem ultricies vehicula vulputate purus ultrices. Aenean orci libero, scelerisque non feugiat gravida, dignissim ut tortor. Phasellus et nulla eros.</p>
                      <p>Morbi suscipit interdum molestie. Aenean fringilla dui magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member">
             <div class="team-thumb img-wrp">
               <img src="{% asset_path team/team2.png %}" alt="team">
                <div class="team-overlay">
                  <div class="img-overlay"></div>
                  <div class="overlay-content">
                    <h4>Founder</h4>
                    <p><a data-toggle="modal" href="#team-2" class="modal-popup-link view-profile">View Profile</a></p>
                  </div>
                </div>
              </div>
              <div class="team-desc">
                <h4>MIKE ROSS</h4>
              </div>
              <div id="team-2" class="modal hide fade.in animated fadeIn">
                <div class="member-bio">
                  <div class="container">
                    <a href="#" class="close" data-dismiss="modal">×</a>
                    <div class="member-role">
                      <h1>MIKE ROSS</h1>
                      <h4 class="highlight">Founder</h4>
                    </div>
                    <div class="row">
                      <div class="seven columns">
                        <img src="{% asset_path team/team2.png %}" alt="team">
                        <div class="member-details">
                          <div class="social-icons">
                            <div class="social-icon social-email"><a href="mailto:hallo@example.com" target="_blank" data-original-title="Email">Email</a></div>
                            <div class="social-icon social-behance"><a href="#" target="_blank" data-original-title="Behance">Behance</a></div>
                            <div class="social-icon social-facebook"><a href="#" target="_blank" data-original-title="Facebook">Facebook</a></div>
                            <div class="social-icon social-flickr"><a href="#" target="_blank" data-original-title="Flickr">Flickr</a></div>
                            <div class="social-icon social-forrst"><a href="#" target="_blank" data-original-title="Forrst">Forrst</a></div>
                          </div>
                        </div>
                      </div>
                      <div class="eight columns member-description">
                      <p class="lead">Sed ligula magna, porta in scelerisque ac, gravida fringilla sapien. Sed tempus urna in sem ultricies vehicula vulputate purus ultrices. Aenean orci libero, scelerisque non feugiat gravida, dignissim ut tortor. Phasellus et nulla eros.</p>
                      <h3>Mike's Standard Skills</h3>
                      <div class="skillbar" data-perc="85">
                        <div class="skill-title">Web Design 85%</div>
                        <div class="skill-percentage"></div>
                      </div>
                      <div class="skillbar" data-perc="70">
                        <div class="skill-title">UX Design 70%</div>
                        <div class="skill-percentage"></div>
                      </div>
                      <div class="skillbar" data-perc="60">
                        <div class="skill-title">Brand Packaging 60%</div>
                        <div class="skill-percentage"></div>
                      </div>
                      <div class="skillbar" data-perc="90">
                        <div class="skill-title">Wordpress 90%</div>
                        <div class="skill-percentage"></div>
                      </div>
                      <p>Sed ligula magna, porta in scelerisque ac, gravida fringilla sapien. Sed tempus urna in sem ultricies vehicula vulputate purus ultrices. Aenean orci libero, scelerisque non feugiat gravida, dignissim ut tortor. Phasellus et nulla eros.</p>
                      <p>Morbi suscipit interdum molestie. Aenean fringilla dui magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member">
             <div class="team-thumb img-wrp">
               <img src="{% asset_path team/team3.png %}" alt="team">
                <div class="team-overlay">
                  <div class="img-overlay"></div>
                  <div class="overlay-content">
                    <h4>Founder</h4>
                    <p><a data-toggle="modal" href="#team-3" class="modal-popup-link view-profile">View Profile</a></p>
                  </div>
                </div>
              </div>
              <div class="team-desc">
                <h4>MIKE ROSS</h4>
              </div>
              <div id="team-3" class="modal hide fade.in animated fadeIn">
                <div class="member-bio">
                  <div class="container">
                    <a href="#" class="close" data-dismiss="modal">×</a>
                    <div class="member-role">
                      <h1>MIKE ROSS</h1>
                      <h4 class="highlight">Founder</h4>
                    </div>
                    <div class="row">
                      <div class="seven columns">
                        <img src="{% asset_path team/team3.png %}" alt="team">
                        <div class="member-details">
                          <div class="social-icons">
                            <div class="social-icon social-email"><a href="mailto:hallo@example.com" target="_blank" data-original-title="Email">Email</a></div>
                            <div class="social-icon social-behance"><a href="#" target="_blank" data-original-title="Behance">Behance</a></div>
                            <div class="social-icon social-facebook"><a href="#" target="_blank" data-original-title="Facebook">Facebook</a></div>
                            <div class="social-icon social-flickr"><a href="#" target="_blank" data-original-title="Flickr">Flickr</a></div>
                            <div class="social-icon social-forrst"><a href="#" target="_blank" data-original-title="Forrst">Forrst</a></div>
                          </div>
                        </div>
                      </div>
                      <div class="eight columns member-description">
                      <p class="lead">Sed ligula magna, porta in scelerisque ac, gravida fringilla sapien. Sed tempus urna in sem ultricies vehicula vulputate purus ultrices. Aenean orci libero, scelerisque non feugiat gravida, dignissim ut tortor. Phasellus et nulla eros.</p>
                      <h3>Mike's Standard Skills</h3>
                      <div class="skillbar" data-perc="85">
                        <div class="skill-title">Web Design 85%</div>
                        <div class="skill-percentage"></div>
                      </div>
                      <div class="skillbar" data-perc="70">
                        <div class="skill-title">UX Design 70%</div>
                        <div class="skill-percentage"></div>
                      </div>
                      <div class="skillbar" data-perc="60">
                        <div class="skill-title">Brand Packaging 60%</div>
                        <div class="skill-percentage"></div>
                      </div>
                      <div class="skillbar" data-perc="90">
                        <div class="skill-title">Wordpress 90%</div>
                        <div class="skill-percentage"></div>
                      </div>
                      <p>Sed ligula magna, porta in scelerisque ac, gravida fringilla sapien. Sed tempus urna in sem ultricies vehicula vulputate purus ultrices. Aenean orci libero, scelerisque non feugiat gravida, dignissim ut tortor. Phasellus et nulla eros.</p>
                      <p>Morbi suscipit interdum molestie. Aenean fringilla dui magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}

        <div class="one-third column">
          <dl>
            <dt>Sebastien Braxton</dt>
            <dd>Co-Founder</dd>
            <dt>Emely Umaña</dt>
            <dd>Assistant to the President</dd>
          </dl>
        </div>
        <div class="one-third column">
          <dl>
            <dt>Callie Williams</dt>
            <dd>Service Director</dd>
            <dt>Clive Coutet</dt>
            <dd>Media Director</dd>
            <dt>László Bácsi</dt>
            <dd>Technology Director</dd>
          </dl>
        </div>
        <div class="one-third column">
          <dl>
            <dt>Candis Braxton</dt>
            <dd>Special Projects</dd>
            <dt>Jonathan Walter</dt>
            <dd>Special Projects</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

  {% if false %}
  <div class="container clearfix">
    <div class="sixteen columns">
      <h3>Here's few Famous clients we've worked with so far</h3>
      <div class="client-logos">
        <a href="#" title="Featured Clients" class="clients"><img src="{% asset_path clients/client6.png %}" alt="Clients"></a>
        <a href="#" title="Featured Clients" class="clients"><img src="{% asset_path clients/client7.png %}" alt="Clients"></a>
        <a href="#" title="Featured Clients" class="clients"><img src="{% asset_path clients/client8.png %}" alt="Clients"></a>
        <a href="#" title="Featured Clients" class="clients"><img src="{% asset_path clients/client1.png %}" alt="Clients"></a>
        <a href="#" title="Featured Clients" class="clients"><img src="{% asset_path clients/client2.png %}" alt="Clients"></a>
        <a href="#" title="Featured Clients" class="clients"><img src="{% asset_path clients/client3.png %}" alt="Clients"></a>
        <a href="#" title="Featured Clients" class="clients"><img src="{% asset_path clients/client4.png %}" alt="Clients"></a>
        <a href="#" title="Featured Clients" class="clients"><img src="{% asset_path clients/client5.png %}" alt="Clients"></a>
      </div>
      <p>Sed ligula magna, porta in scelerisque ac, gravida fringilla sapien. Sed tempus urna in sem ultricies vehicula vulputate purus ultrices. Aenean orci libero, scelerisque non feugiat gravida, dignissim ut tortor. Phasellus et nulla eros. Morbi suscipit interdum molestie. Aenean fringilla dui magna.</p>
    </div>
  </div>
  {% endif %}
</div>

<div id="parallax2" class="parallax">
  <div class="bg2 parallax-bg"></div>
  <div class="overlay"></div>
  <div class="container clearfix">
    <div class="parallax-content">

      <div>
        <p class="twitter-feed-icon"><i class="fa fa-twitter"></i></p>
        <p class="twitter-author"><a href="http://twitter.com/R3Missions" target="_blank">@R3Missions</a></p>
      </div>
      <div class="twitter-slider">
        <div id="twitter-feed"></div>
      </div>

    </div>
  </div>
</div>

<div id="projects" class="page">
  <div class="container">
    <div class="row">
      <div class="sixteen columns">
        <div class="title">
          <h1>Projects</h1>
          <div class="subtitle">
            <p>Our projects seek to be creative, <span class="highlight">fresh</span>, bold and <span class="highlight">ethical</span>, and always thought through carefully, <span class="highlight">collaboratively</span>, and executed with patience.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fullwidth grey">
    <div class="container clearfix">
      <div class="row">

        <div class="one-third column">
          <div class="service-box">
            <div>
              <h3>Service</h3>
              <i class="service-icon fa fa-globe"></i>
            </div>
            <div class="service-description">
              <p>R3 is collaborating with various non-profits and NGO's to plan service projects.</p>
            </div>
            <h6>What we offer</h6>
            <ul class="styled-list">
              <li><a href="http://calais.r3missions.org">Calais, 2015</a></li>
              <li>India, 2015</li>
              <li>Dubai, 2016</li>
              {% if false %}<li><a href="/your-own-mission.html">Your Own Mission</a></li>{% endif %}
            </ul>
          </div>
        </div>

        <div class="one-third column">
          <div class="service-box">
            <div>
              <h3>Media</h3>
              <i class="service-icon fa fa-video-camera"></i>
            </div>
            <div class="service-description">
              <p>
                R3 is exploring traditional, photo, and video journaling of service experiences across the globe.
              </p>
            </div>
            <h6>What we offer</h6>
            <ul class="styled-list">
              <li>Media Journaling Project</li>
              <li>Photo Journalism</li>
              <li>Video Journalism</li>
            </ul>
          </div>
        </div>

        <div class="one-third column">
          <div class="service-box">
            <div>
              <h3>Technology</h3>
              <i class="service-icon fa fa-laptop"></i>
            </div>
            <div class="service-description">
              <p>
                R3 collaborates with partner organizations to help their technological needs.
              </p>
            </div>
            <h6>What we offer</h6>
            <ul class="styled-list">
              <li>Web Development</li>
              <li>Mobile Development</li>
              <li>Open Source</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container clearfix">
    <div class="sixteen columns">
      <h3>Are You Ready to Serve?</h3>
      <a href="#contact" class="button scroll-to">Get in touch</a>
    </div>
  </div>
</div>

<div id="parallax3" class="parallax">
  <div class="bg3 parallax-bg"></div>
  <div class="overlay"></div>
  <div class="container clearfix">
    <div class="parallax-content">

      <p class="testimonial-icon"><i class="fa fa-quote-left"></i></p>
      <h3 class="title"><span>Our Testimonials</span></h3>
      <div class="testimonial-slider">
        <div class="flexslider">

          <ul class="slides styled-list">
            <li class="testimonial-slide">
              <p class="client-testimonial">
                What’s been really cool is that these people who have never seen
                a doctor before get so excited that we’re giving them this
                opportunity
              </p>
              <div class="client-info">Alison Ogilvie, volunteer, USA</div>
            </li>

            <li class="testimonial-slide">
              <p class="client-testimonial">
                We were spending time with families, we were spending time with
                individuals, giving them the tools they needed to be able to do
                the work themselves. We had more than one person say they were
                going to start doing the work we’d been doing here after we
                left.
              </p>
              <div class="client-info">Ashley Bloom, photographer, UK</div>
            </li>

            <li class="testimonial-slide">
              <p class="client-testimonial">
                It has been really really good just to be a part of the healing
                of the city of Moore
              </p>
              <div class="client-info">James Ervin II, volunteer, USA</div>
            </li>

            <li class="testimonial-slide">
              <p class="client-testimonial">
                It is unreal the amount of people who are impressed by
                the mission statement of R3 and want to be a part of
                that. It's making me so excited for the future.
              </p>
              <div class="client-info">Allie Ogilvie, volunteer, USA</div>
            </li>

            <li class="testimonial-slide">
              <p class="client-testimonial">
                R3 has impacted me because it’s made me feel a little bit more
                aware of my community.
              </p>
              <div class="client-info">Misty Wilson, Moore, OK resident</div>
            </li>
          </ul>

        </div>
      </div>

    </div>
  </div>
</div>

<div id="contact" class="page">
  <div class="container">
    <div class="row">
      <div class="sixteen columns">
        <div class="title">
          <h1>Contact Us</h1>
          <div class="subtitle">
            <p>If you're thirsting for <span class="highlight">opportunities to serve</span> alongside a global <span class="highlight">community</span> of youth, we'd love to <span class="highlight">partner</span> with you in service.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container clearfix">
    <div class="sixteen columns">
      <div class="contact-box">
        <div id="contact-form">
          <form action="http://api.r3missions.org/contact_request" method="post">
            <div id="contact-input">
              <!--[if IE]><label for="name">Name</label><![endif]-->
              <input type="text" name="contact_request[name]" id="name" placeholder="Name (required)" >
              <!--[if IE]><label for="email">Email</label><![endif]-->
              <input type="text" name="contact_request[email]" id="email" placeholder="Email (required)">
              <!--[if IE]><label for="email_confirm">Leave blank</label><![endif]-->
              <input type="text" name="contact_request[email_confirm]" id="email_confirm" placeholder="Leave blank">
              <!--[if IE]><label for="subject">Subject</label><![endif]-->
              <input type="text" name="contact_request[subject]" id="subject" placeholder="Subject" >
            </div>
            <div id="contact-textarea">
              <!--[if IE]><label for="message">Your Message Here</label><![endif]-->
              <textarea name="contact_request[message]" id="message" cols="39" rows="4" placeholder="Your Message"></textarea>
            </div>
            <div id="contact-submit">
              <div>
                <input name="submit" type="submit" id="submit" tabindex="5" value="Post Contact Request" class="comment-submit small button">
              </div>
            </div>
          </form>
          <div class="clear"></div>
        </div>
        <div class="result"></div>
      </div>
    </div>
  </div>
</div>

<div id="parallax4" class="parallax">
  <div class="bg4 parallax-bg"></div>
  <div class="overlay"></div>
  <div class="container clearfix">
    <div class="parallax-content">

      <div class="contact-details">
        <h1>info@r3missions.org</h1>
        <h2>PO BOX 130320, Ann Arbor, MI, 48113 USA</h2>
      </div>

    </div>
  </div>
</div>

{% include footer.html %}
