---
layout: default
sitemap: no
---
<div id="home" class="home-parallax">
  <div class="home-text-wrapper">

    <div class="home-logo-text">
      <a href="#about">Welcome to R3</a>
    </div>

    <div id="home-slider" class="flexslider">
      <ul class="slides styled-list">
        <li class="home-slide"><p class="home-slide-content">Redeeming<span class="highlight">.</span></p></li>
        <li class="home-slide"><p class="home-slide-content">Rational<span class="highlight">.</span></p></li>
        <li class="home-slide"><p class="home-slide-content">Radical<span class="highlight">.</span></p></li>
      </ul>
    </div>
  </div>
</div>

<nav class="dark sticky-nav navigation">
  <div class="container clearfix">
    <div class="four columns">
      <div class="logo small">
        <a href="#home"><img src="{% asset_path logo.png %}" title="logo" alt="Logo"/></a>
      </div>
    </div>

    <div class="twelve columns">
      <ul class="main-menu small nav" id="nav">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#leadership">Leadership</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="about" class="page">
  <div class="container">
    <div class="row">
      <div class="sixteen columns">
        <div class="title">
          <h1>About R3</h1>
          <div class="subtitle">
            <p>R3 is an <span class="highlight">Adventist mission think tank</span> that seeks to combine biblical <span class="highlight">innovative approaches</span> to spiritual awakening with traditional forms of evangelism.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fullwidth grey">
    <div class="container">
      <div class="fancy-header2">
        <h4>What we do?</h4>
        <h2 class="highlight">Create opportunities for adventist youth to be mobilized into meaningful action for Christ.</h2>
      </div>

      <div class="row">
        <div class="one-third column">
          <div class="service-features">
            <div class="img-container">
              <img src="{% asset_path icons/icons/world.png %}" alt="Service Features">
            </div>
            <h3>Missions</h3>
            <p>Service projects tailored to specific mission fields that integrate teaching, healing, and gospel minstries that seek to mirror Christ's.</p>
          </div>
        </div>

        <div class="one-third column">
          <div class="service-features">
            <div class="img-container">
              <img src="{% asset_path icons/icons/video.png %}" alt="Service Features">
            </div>
            <h3>Media</h3>
            <p>Capturing and promoting ministry in various media forms to reveal God's character and work in our present time.</p>
          </div>
        </div>

        <div class="one-third column">
          <div class="service-features">
            <div class="img-container">
              <img src="{% asset_path icons/icons/music.png %}" alt="Service Features">
            </div>
            <h3>Music</h3>
            <p>Innovating ideas for how vocalists, instrumentalists, composers, and songwriters can utilize their Christ-given gifts for missions.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="parallax1" class="parallax">
  <div class="bg1 parallax-bg"></div>
  <div class="overlay"></div>
  <div class="container clearfix">
    <div class="parallax-content">

      <p class="quote">
        <i class="fa fa-quote-left"></i>
        To love Him, the infinite, omniscient One, with the whole strength, and mind, and heart means the highest development of every power.
        <i class="fa fa-quote-right"></i>
      </p>
      <div class="quote-author">— Ellen White —</div>

    </div>
  </div>
</div>

<div id="leadership" class="page">
  <div class="container">
    <div class="row">
      <div class="sixteen columns">
        <div class="title">
          <h1>Leadership</h1>
          <div class="subtitle">
            <p>Professional & Outstanding <span class="highlight">ideas</span> of our <span class="highlight">passionate team</span> makes us unique in every sense.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fullwidth grey">
    <div class="fancy-header2">
      <h4>Who are we anyway?</h4>
      <h2 class="highlight">Meet the team who built the dream</h2>
    </div>

    <div class="container">
      <div class="row">
        {% if false %}
        <div class="sixteen columns">
          <div class="team-member">
             <div class="team-thumb img-wrp">
               <img src="{% asset_path team/team1.png %}" alt="team">
                <div class="team-overlay">
                  <div class="img-overlay"></div>
                  <div class="overlay-content">
                    <h4>Founder</h4>
                    <p><a data-toggle="modal" href="#team-1" class="modal-popup-link view-profile">View Profile</a></p>
                  </div>
                </div>
              </div>
              <div class="team-desc">
                <h4>MIKE ROSS</h4>
              </div>
              <div id="team-1" class="modal hide fade.in animated fadeIn">
                <div class="member-bio">
                  <div class="container">
                    <a href="#" class="close" data-dismiss="modal">×</a>
                    <div class="member-role">
                      <h1>MIKE ROSS</h1>
                      <h4 class="highlight">Founder</h4>
                    </div>
                    <div class="row">
                      <div class="seven columns">
                        <img src="{% asset_path team/team1.png %}" alt="team">
                        <div class="member-details">
                          <div class="social-icons">
                            <div class="social-icon social-email"><a href="mailto:hallo@example.com" target="_blank" data-original-title="Email">Email</a></div>
                            <div class="social-icon social-behance"><a href="#" target="_blank" data-original-title="Behance">Behance</a></div>
                            <div class="social-icon social-facebook"><a href="#" target="_blank" data-original-title="Facebook">Facebook</a></div>
                            <div class="social-icon social-flickr"><a href="#" target="_blank" data-original-title="Flickr">Flickr</a></div>
                            <div class="social-icon social-forrst"><a href="#" target="_blank" data-original-title="Forrst">Forrst</a></div>
                          </div>
                        </div>
                      </div>
                      <div class="eight columns member-description">
                      <p class="lead">Sed ligula magna, porta in scelerisque ac, gravida fringilla sapien. Sed tempus urna in sem ultricies vehicula vulputate purus ultrices. Aenean orci libero, scelerisque non feugiat gravida, dignissim ut tortor. Phasellus et nulla eros.</p>
                      <h3>Mike's Standard Skills</h3>
                      <div class="skillbar" data-perc="85">
                        <div class="skill-title">Web Design 85%</div>
                        <div class="skill-percentage"></div>
                      </div>
                      <div class="skillbar" data-perc="70">
                        <div class="skill-title">UX Design 70%</div>
                        <div class="skill-percentage"></div>
                      </div>
                      <div class="skillbar" data-perc="60">
                        <div class="skill-title">Brand Packaging 60%</div>
                        <div class="skill-percentage"></div>
                      </div>
                      <div class="skillbar" data-perc="90">
                        <div class="skill-title">Wordpress 90%</div>
                        <div class="skill-percentage"></div>
                      </div>
                      <p>Sed ligula magna, porta in scelerisque ac, gravida fringilla sapien. Sed tempus urna in sem ultricies vehicula vulputate purus ultrices. Aenean orci libero, scelerisque non feugiat gravida, dignissim ut tortor. Phasellus et nulla eros.</p>
                      <p>Morbi suscipit interdum molestie. Aenean fringilla dui magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member">
             <div class="team-thumb img-wrp">
               <img src="{% asset_path team/team2.png %}" alt="team">
                <div class="team-overlay">
                  <div class="img-overlay"></div>
                  <div class="overlay-content">
                    <h4>Founder</h4>
                    <p><a data-toggle="modal" href="#team-2" class="modal-popup-link view-profile">View Profile</a></p>
                  </div>
                </div>
              </div>
              <div class="team-desc">
                <h4>MIKE ROSS</h4>
              </div>
              <div id="team-2" class="modal hide fade.in animated fadeIn">
                <div class="member-bio">
                  <div class="container">
                    <a href="#" class="close" data-dismiss="modal">×</a>
                    <div class="member-role">
                      <h1>MIKE ROSS</h1>
                      <h4 class="highlight">Founder</h4>
                    </div>
                    <div class="row">
                      <div class="seven columns">
                        <img src="{% asset_path team/team2.png %}" alt="team">
                        <div class="member-details">
                          <div class="social-icons">
                            <div class="social-icon social-email"><a href="mailto:hallo@example.com" target="_blank" data-original-title="Email">Email</a></div>
                            <div class="social-icon social-behance"><a href="#" target="_blank" data-original-title="Behance">Behance</a></div>
                            <div class="social-icon social-facebook"><a href="#" target="_blank" data-original-title="Facebook">Facebook</a></div>
                            <div class="social-icon social-flickr"><a href="#" target="_blank" data-original-title="Flickr">Flickr</a></div>
                            <div class="social-icon social-forrst"><a href="#" target="_blank" data-original-title="Forrst">Forrst</a></div>
                          </div>
                        </div>
                      </div>
                      <div class="eight columns member-description">
                      <p class="lead">Sed ligula magna, porta in scelerisque ac, gravida fringilla sapien. Sed tempus urna in sem ultricies vehicula vulputate purus ultrices. Aenean orci libero, scelerisque non feugiat gravida, dignissim ut tortor. Phasellus et nulla eros.</p>
                      <h3>Mike's Standard Skills</h3>
                      <div class="skillbar" data-perc="85">
                        <div class="skill-title">Web Design 85%</div>
                        <div class="skill-percentage"></div>
                      </div>
                      <div class="skillbar" data-perc="70">
                        <div class="skill-title">UX Design 70%</div>
                        <div class="skill-percentage"></div>
                      </div>
                      <div class="skillbar" data-perc="60">
                        <div class="skill-title">Brand Packaging 60%</div>
                        <div class="skill-percentage"></div>
                      </div>
                      <div class="skillbar" data-perc="90">
                        <div class="skill-title">Wordpress 90%</div>
                        <div class="skill-percentage"></div>
                      </div>
                      <p>Sed ligula magna, porta in scelerisque ac, gravida fringilla sapien. Sed tempus urna in sem ultricies vehicula vulputate purus ultrices. Aenean orci libero, scelerisque non feugiat gravida, dignissim ut tortor. Phasellus et nulla eros.</p>
                      <p>Morbi suscipit interdum molestie. Aenean fringilla dui magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member">
             <div class="team-thumb img-wrp">
               <img src="{% asset_path team/team3.png %}" alt="team">
                <div class="team-overlay">
                  <div class="img-overlay"></div>
                  <div class="overlay-content">
                    <h4>Founder</h4>
                    <p><a data-toggle="modal" href="#team-3" class="modal-popup-link view-profile">View Profile</a></p>
                  </div>
                </div>
              </div>
              <div class="team-desc">
                <h4>MIKE ROSS</h4>
              </div>
              <div id="team-3" class="modal hide fade.in animated fadeIn">
                <div class="member-bio">
                  <div class="container">
                    <a href="#" class="close" data-dismiss="modal">×</a>
                    <div class="member-role">
                      <h1>MIKE ROSS</h1>
                      <h4 class="highlight">Founder</h4>
                    </div>
                    <div class="row">
                      <div class="seven columns">
                        <img src="{% asset_path team/team3.png %}" alt="team">
                        <div class="member-details">
                          <div class="social-icons">
                            <div class="social-icon social-email"><a href="mailto:hallo@example.com" target="_blank" data-original-title="Email">Email</a></div>
                            <div class="social-icon social-behance"><a href="#" target="_blank" data-original-title="Behance">Behance</a></div>
                            <div class="social-icon social-facebook"><a href="#" target="_blank" data-original-title="Facebook">Facebook</a></div>
                            <div class="social-icon social-flickr"><a href="#" target="_blank" data-original-title="Flickr">Flickr</a></div>
                            <div class="social-icon social-forrst"><a href="#" target="_blank" data-original-title="Forrst">Forrst</a></div>
                          </div>
                        </div>
                      </div>
                      <div class="eight columns member-description">
                      <p class="lead">Sed ligula magna, porta in scelerisque ac, gravida fringilla sapien. Sed tempus urna in sem ultricies vehicula vulputate purus ultrices. Aenean orci libero, scelerisque non feugiat gravida, dignissim ut tortor. Phasellus et nulla eros.</p>
                      <h3>Mike's Standard Skills</h3>
                      <div class="skillbar" data-perc="85">
                        <div class="skill-title">Web Design 85%</div>
                        <div class="skill-percentage"></div>
                      </div>
                      <div class="skillbar" data-perc="70">
                        <div class="skill-title">UX Design 70%</div>
                        <div class="skill-percentage"></div>
                      </div>
                      <div class="skillbar" data-perc="60">
                        <div class="skill-title">Brand Packaging 60%</div>
                        <div class="skill-percentage"></div>
                      </div>
                      <div class="skillbar" data-perc="90">
                        <div class="skill-title">Wordpress 90%</div>
                        <div class="skill-percentage"></div>
                      </div>
                      <p>Sed ligula magna, porta in scelerisque ac, gravida fringilla sapien. Sed tempus urna in sem ultricies vehicula vulputate purus ultrices. Aenean orci libero, scelerisque non feugiat gravida, dignissim ut tortor. Phasellus et nulla eros.</p>
                      <p>Morbi suscipit interdum molestie. Aenean fringilla dui magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}

        <div class="one-third column">
          <dl>
            <dt>Sebastien Braxton</dt>
            <dd>Co-Founder</dd>
            <dt>Katie Surbaugh</dt>
            <dd>Co-Founder</dd>
            <dt>Zippora Anson</dt>
            <dd>Vice-Chair</dd>
          </dl>
        </div>
        <div class="one-third column">
          <dl>
            <dt>Callie Williams</dt>
            <dd>Missions Director</dd>
            <dt>Clive Coutet</dt>
            <dd>Media Director</dd>
            <dt>Candis Braxton</dt>
            <dd>Music Director</dd>
          </dl>
        </div>
        <div class="one-third column">
          <dl>
            <dt>László Bácsi</dt>
            <dd>Technology Director</dd>
            <dt>Jonathan Walter</dt>
            <dd>Special Projects</dd>
            <dt>Charlene Coutet</dt>
            <dd>Special Projects</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

  {% if false %}
  <div class="container clearfix">
    <div class="sixteen columns">
      <h3>Here's few Famous clients we've worked with so far</h3>
      <div class="client-logos">
        <a href="#" title="Featured Clients" class="clients"><img src="{% asset_path clients/client6.png %}" alt="Clients"></a>
        <a href="#" title="Featured Clients" class="clients"><img src="{% asset_path clients/client7.png %}" alt="Clients"></a>
        <a href="#" title="Featured Clients" class="clients"><img src="{% asset_path clients/client8.png %}" alt="Clients"></a>
        <a href="#" title="Featured Clients" class="clients"><img src="{% asset_path clients/client1.png %}" alt="Clients"></a>
        <a href="#" title="Featured Clients" class="clients"><img src="{% asset_path clients/client2.png %}" alt="Clients"></a>
        <a href="#" title="Featured Clients" class="clients"><img src="{% asset_path clients/client3.png %}" alt="Clients"></a>
        <a href="#" title="Featured Clients" class="clients"><img src="{% asset_path clients/client4.png %}" alt="Clients"></a>
        <a href="#" title="Featured Clients" class="clients"><img src="{% asset_path clients/client5.png %}" alt="Clients"></a>
      </div>
      <p>Sed ligula magna, porta in scelerisque ac, gravida fringilla sapien. Sed tempus urna in sem ultricies vehicula vulputate purus ultrices. Aenean orci libero, scelerisque non feugiat gravida, dignissim ut tortor. Phasellus et nulla eros. Morbi suscipit interdum molestie. Aenean fringilla dui magna.</p>
    </div>
  </div>
  {% endif %}
</div>

<div id="parallax2" class="parallax">
  <div class="bg2 parallax-bg"></div>
  <div class="overlay"></div>
  <div class="container clearfix">
    <div class="parallax-content">

      <div>
        <p class="twitter-feed-icon"><i class="fa fa-twitter"></i></p>
        <p class="twitter-author"><a href="http://twitter.com/R3Missions" target="_blank">@R3Missions</a></p>
      </div>
      <div class="twitter-slider">
        <div id="twitter-feed"></div>
      </div>

    </div>
  </div>
</div>

<div id="projects" class="page">
  <div class="container">
    <div class="row">
      <div class="sixteen columns">
        <div class="title">
          <h1>Projects</h1>
          <div class="subtitle">
            <p>Our projects seek to be creative, <span class="highlight">fresh</span>, bold and <span class="highlight">biblical</span>, but always thought through carefully, prayerfully, <span class="highlight">collaboratively</span> and executed with patience.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fullwidth grey">
    <div class="container clearfix">
      <div class="row">

        <div class="one-third column">
          <div class="service-box">
            <div>
              <h3>Missions</h3>
              <i class="service-icon fa fa-globe"></i>
            </div>
            <div class="service-description">
              <p>
                R3 is collaborating with Spicer Memorial College, Pune
                Adventist Hospital, A.L.I.V.E and East Central African
                Division, Moore SDA Church and more to plan 4 missions
                in 2014.
              </p>
            </div>
            <h6>What we offer</h6>
            <ul class="styled-list">
              <li><a href="http://rally.org/r3missions/" title="Rally for R3 Missions">Fundraising</a></li>
              <li>Pune, India: January 7–21</li>
              <li>Oklahoma: April 17–May 30</li>
              <li><abbr title="Democratic Republic of Congo">DRC</abbr>: June 26–July 29</li>
              <li>Middle East: Sept 22–Dec 16</li>
            </ul>
          </div>
        </div>

        <div class="one-third column">
          <div class="service-box">
            <div>
              <h3>Media</h3>
              <i class="service-icon fa fa-video-camera"></i>
            </div>
            <div class="service-description">
              <p>
                R3 is exploring traditional, photo, and video journaling
                of mission experiences across the globe along-side an
                online training platform and national geographic-esque
                mission magazine.
              </p>
            </div>
            <h6>What we offer</h6>
            <ul class="styled-list">
              <li><a href="https://www.youtube.com/watch?v=X7aupFjM4kQ" target="_blank">Media Journaling Project</a></li>
              <li>Application Development</li>
              <li>Mission Photo Journalism</li>
              <li>Mission Video Journalism</li>
              <li>Mission Graphic Design</li>
            </ul>
          </div>
        </div>

        <div class="one-third column">
          <div class="service-box">
            <div>
              <h3>Music</h3>
              <i class="service-icon fa fa-music"></i>
            </div>
            <div class="service-description">
              <p>
                R3 endeavors to create resources, opportunities, and
                networks of musicianaries across the globe in order to
                sound the note of God's love through the heavenly gift
                of music.
              </p>
            </div>
            <h6>What we offer</h6>
            <ul class="styled-list">
              <li><a href="http://r3missions.org/downloads/hor_concert_gyc_program.pdf" title="History of Redemption Concert Program" target="_blank">GYC Orlando Concert</a></li>
              <li>Music on a Mission</li>
              <li>Adventist Recording Studio</li>
              <li>Musicinary Network</li>
              <li><a href="mailto:music@r3missions.org">Host an R3 Concert</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container clearfix">
    <div class="sixteen columns">
      <h3>Are You Ready Serve?</h3>
      <a href="#contact" class="button scroll-to">Get in touch</a>
    </div>
  </div>
</div>

<div id="parallax3" class="parallax">
  <div class="bg3 parallax-bg"></div>
  <div class="overlay"></div>
  <div class="container clearfix">
    <div class="parallax-content">

      <p class="testimonial-icon"><i class="fa fa-quote-left"></i></p>
      <h3 class="title"><span>Our Testimonials</span></h3>
      <div class="testimonial-slider">
        <div class="flexslider">
          <ul class="slides styled-list">
            <li class="testimonial-slide"><p class="client-testimonial">R3 does a lot of the things that I only dream about doing in the future. However, it caused my secret fear that my colleagues will finish the work before I even get on the field.</p><div class="client-info">Joneen Wilson</div></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="portfolio" class="page">
  <div class="container">
    <div class="row">
      <div class="sixteen columns">
        <div class="title">
          <h1>Our Featured Portfolio</h1>
          <div class="subtitle">
            <p>Hire us if you like what we do because we helps Agencies to link <span class="highlight">Business</span> processes and <span class="highlight">People.</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="ajax-section">
    <div class="container clearfix">
      <div id="project-navigation">
        <ul>
          <li id="nextProject"><a href="#"></a></li>
          <li id="prevProject"><a href="#"></a></li>
        </ul>
      </div>
      <div id="closeProject">
        <a href="#loader"><i class="fa fa-remove"></i></a>
      </div>
      <div id="loader"></div>
      <div id="ajax-content-outer">
        <div id="ajax-content-inner"></div>
      </div>
    </div>
  </div>
  <div class="clear"></div>

  <div class="container clearfix">
    <div id="filters" class="sixteen columns">
      <ul class="clearfix">
        <li><a href="#" data-filter="*" class="active"><h3>All</h3></a></li>
        <li><a href="#" data-filter=".branding"><h3>Branding</h3></a></li>
        <li><a href="#" data-filter=".design"><h3>Design</h3></a></li>
        <li><a href="#" data-filter=".photography"><h3>Photography</h3></a></li>
        <li><a href="#" data-filter=".videography"><h3>Videography</h3></a></li>
        <li><a href="#" data-filter=".web"><h3>Web</h3></a></li>
      </ul>
    </div>
  </div>

  <div id="portfolio-wrap">
    <div class="portfolio-item one-third column design videography photography web branding">
      <div class="portfolio">
        <a href="#!projects/project-1.html" class="portfolio-image">
          <img src="{% asset_path portfolio/portfolio1.jpg %}" alt="Portfolio 1"/>
          <div class="portfolio-overlay">
            <div class="thumb-info">
              <h3>Featured Image</h3>
              <p class="portfolio-tags">Photography, Videography</p>
              <i class="fa fa-picture"></i>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="portfolio-item one-third column branding videography web">
      <div class="portfolio">
        <a href="#!projects/project-2.html" class="portfolio-image">
          <img src="{% asset_path portfolio/portfolio2.jpg %}" alt="Portfolio 2"/>
          <div class="portfolio-overlay">
            <div class="thumb-info">
              <h3>Vimeo Video</h3>
              <p class="portfolio-tags">Videography, Branding</p>
              <i class="fa fa-film"></i>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="portfolio-item one-third column branding photography web design">
      <div class="portfolio">
        <a href="#!projects/project-3.html" class="portfolio-image">
          <img src="{% asset_path portfolio/portfolio3.jpg %}" alt="Portfolio 3"/>
          <div class="portfolio-overlay">
            <div class="thumb-info">
              <h3>Gallery</h3>
              <p class="portfolio-tags">Photography, Branding</p>
              <i class="fa fa-picture"></i>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="portfolio-item one-third column branding photography web design">
      <div class="portfolio">
        <a href="#!projects/project-4.html" class="portfolio-image">
          <img src="{% asset_path portfolio/portfolio4.jpg %}" alt="Portfolio 4"/>
          <div class="portfolio-overlay">
            <div class="thumb-info">
              <h3>Another Gallery</h3>
              <p class="portfolio-tags">Photography, Web</p>
              <i class="fa fa-picture"></i>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="portfolio-item one-third column branding videography">
      <div class="portfolio">
        <a href="#!projects/project-5.html" class="portfolio-image">
          <img src="{% asset_path portfolio/portfolio5.jpg %}" alt="Portfolio 5"/>
          <div class="portfolio-overlay">
            <div class="thumb-info">
              <h3>Vimeo Video</h3>
              <p class="portfolio-tags">Videography, Design</p>
              <i class="fa fa-film"></i>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="portfolio-item one-third column videography web">
      <div class="portfolio">
        <a href="#!projects/project-6.html" class="portfolio-image">
          <img src="{% asset_path portfolio/portfolio6.jpg %}" alt="Portfolio 6"/>
          <div class="portfolio-overlay">
            <div class="thumb-info">
              <h3>Youtube Video</h3>
              <p class="portfolio-tags">Videography, Web</p>
              <i class="fa fa-film"></i>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="portfolio-item one-third column  branding design videography photography">
      <div class="portfolio">
        <a href="#!projects/project-7.html" class="portfolio-image">
          <img src="{% asset_path portfolio/portfolio7.jpg %}" alt="Portfolio 7"/>
          <div class="portfolio-overlay">
            <div class="thumb-info">
              <h3>Youtube Video</h3>
              <p class="portfolio-tags">Design, Web</p>
              <i class="fa fa-picture"></i>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="portfolio-item one-third column  branding design photography web">
      <div class="portfolio">
        <a href="#!projects/project-8.html" class="portfolio-image">
          <img src="{% asset_path portfolio/portfolio8.jpg %}" alt="Portfolio 8"/>
          <div class="portfolio-overlay">
            <div class="thumb-info">
              <h3>Youtube Video</h3>
              <p class="portfolio-tags">Design, Web</p>
              <i class="fa fa-picture"></i>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="portfolio-item one-third column  branding design videography photography web">
      <div class="portfolio">
        <a href="#!projects/project-9.html" class="portfolio-image">
          <img src="{% asset_path portfolio/portfolio9.jpg %}" alt="Portfolio 9"/>
          <div class="portfolio-overlay">
            <div class="thumb-info">
              <h3>Portfolio 9</h3>
              <p class="portfolio-tags">Design, Web</p>
              <i class="fa fa-picture"></i>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="portfolio-item one-third column  branding videography photography web">
      <div class="portfolio">
        <a href="#!projects/project-10.html" class="portfolio-image">
          <img src="{% asset_path portfolio/portfolio10.jpg %}" alt="Portfolio 10"/>
          <div class="portfolio-overlay">
            <div class="thumb-info">
              <h3>Portfolio 10</h3>
              <p class="portfolio-tags">Design, Web</p>
              <i class="fa fa-picture"></i>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="portfolio-item one-third column  branding web">
      <div class="portfolio">
        <a href="#!projects/project-11.html" class="portfolio-image">
          <img src="{% asset_path portfolio/portfolio11.jpg %}" alt="Portfolio 11"/>
          <div class="portfolio-overlay">
            <div class="thumb-info">
              <h3>Portfolio 11</h3>
              <p class="portfolio-tags">Videography, Web</p>
              <i class="fa fa-film"></i>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="portfolio-item one-third column  design videography photography web">
      <div class="portfolio">
        <a href="#!projects/project-12.html" class="portfolio-image">
          <img src="{% asset_path portfolio/portfolio12.jpg %}" alt="Portfolio 12"/>
          <div class="portfolio-overlay">
            <div class="thumb-info">
              <h3>Portfolio 12</h3>
              <p class="portfolio-tags">Design, Web</p>
              <i class="fa fa-picture"></i>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="portfolio-item one-third column  branding design videography photography web">
      <div class="portfolio">
        <a href="#!projects/project-13.html" class="portfolio-image">
          <img src="{% asset_path portfolio/portfolio13.jpg %}" alt="Portfolio 13"/>
          <div class="portfolio-overlay">
            <div class="thumb-info">
              <h3>Portfolio 13</h3>
              <p class="portfolio-tags">Design, Web</p>
              <i class="fa fa-picture"></i>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="portfolio-item one-third column  branding design videography photography web">
      <div class="portfolio">
        <a href="#!projects/project-14.html" class="portfolio-image">
          <img src="{% asset_path portfolio/portfolio14.jpg %}" alt="Portfolio 14"/>
          <div class="portfolio-overlay">
            <div class="thumb-info">
              <h3>Portfolio 14</h3>
              <p class="portfolio-tags">Design, Web</p>
              <i class="fa fa-picture"></i>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="portfolio-item one-third column  branding design videography photography web">
      <div class="portfolio">
        <a href="#!projects/project-15.html" class="portfolio-image">
          <img src="{% asset_path portfolio/portfolio15.jpg %}" alt="Portfolio 15"/>
          <div class="portfolio-overlay">
            <div class="thumb-info">
              <h3>Portfolio 15</h3>
              <p class="portfolio-tags">Design, Web</p>
              <i class="fa fa-picture"></i>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div id="parallax4" class="parallax">
  <div class="bg4 parallax-bg"></div>
  <div class="overlay"></div>
  <div class="container clearfix">
    <div class="parallax-content">

      <div class="contact-details">
        <h1>info@r3missions.org</h1>
        <h2>PO BOX 130320, Ann Arbor, MI, 48113 USA</h2>
      </div>

    </div>
  </div>
</div>

<div id="contact" class="page">
  <div class="container">
    <div class="row">
      <div class="sixteen columns">
        <div class="title">
          <h1>Contact Us</h1>
          <div class="subtitle">
            <p>If you're thirsting for mission and opportunities to serve alongside a global community of youth, we'd love to partner with you in service.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container clearfix">
    <div class="sixteen columns">
      <div class="contact-box">
        <div id="contact-form">
          <form action="#" method="post">
            <div id="contact-input">
              <!--[if IE]><label for="name">Name</label><![endif]-->
              <input type="text" name="contact[name]" id="name" placeholder="Name (required)" >
              <!--[if IE]><label for="email">Email</label><![endif]-->
              <input type="text" name="contact[email]" id="email" placeholder="Email (required)">
              <!--[if IE]><label for="subject">Subject</label><![endif]-->
              <input type="text" name="contact[subject]" id="subject" placeholder="Subject" >
            </div>
            <div id="contact-textarea">
              <!--[if IE]><label for="message">Your Message Here</label><![endif]-->
              <textarea name="contact[message]" id="message" cols="39" rows="4" placeholder="Your Message"></textarea>
            </div>
            <div id="contact-submit">
              <div>
                <input name="submit" type="submit" id="submit" tabindex="5" value="Post Comment" class="comment-submit small button">
              </div>
            </div>
          </form>
          <div class="clear"></div>
        </div>
        <div class="result"></div>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="container clearfix">
      <div class="sixteen columns">
        <div class="copyright-logo"><a href="#"><img src="{% asset_path logo2.png %}" title="logo" alt="logo"/></a></div>
        <div class="social-icons">
          <div class="social-icon social-email"><a href="mailto:info@r3missions.org" target="_blank" data-original-title="Email">Email</a></div>
          <div class="social-icon social-twitter"><a href="https://twitter.com/R3Missions" target="_blank" data-original-title="Twitter">Twitter</a></div>
        </div>
        <p>&copy; 2012 All Rights Reserved.</p>
      </div>
    </div>
  </div>
</div>
