<div class="copyright">
  <div class="container clearfix">
    <div class="sixteen columns">
      <div class="copyright-logo"><a href="#"><img src="{% asset_path logo2.png %}" title="logo" alt="logo"/></a></div>
      <div class="social-icons">
        <div class="social-icon social-email"><a href="mailto:info@r3missions.org" target="_blank" data-original-title="Email">Email</a></div>
        <div class="social-icon social-twitter"><a href="https://twitter.com/R3Missions" target="_blank" data-original-title="Twitter">Twitter</a></div>
      </div>
      <p>&copy; 2012 All Rights Reserved.</p>
    </div>
  </div>
</div>
