.ribbon-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 150px;
  height: 150px;
  z-index: 9999;
  overflow: hidden;
  pointer-events: none;

  .ribbon {
    position: absolute;
    top: 42px;
    right: -43px;

    @include rotate(45deg);

    padding: 2px 0;
    background-color: $primary-color;

    @include background-image(linear-gradient(top, rgba(black, 0.0), rgba(black, 0.15)));

    @include box-shadow(rgba(black, 0.5) 0 2px 3px 0);

    z-index: 9999;
    pointer-events: auto;

    a, a:hover {
      display: inline-block;
      padding: 2px 0;
      width: 200px;
      line-height: 20px;

      border-width: 1px 0;
      border-style: dotted;
      border-color: rgba(white, 0.7);

      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 13px;
      font-weight: 700;
      color: white;

      text-decoration: none;
      text-shadow: 0 -1px rgba(black, 0.5);
      text-align: center;
    }
  }
}

.ribbon-wrapper + .container .twelve.columns {
  margin-right: 150px;
}
