@import "compass/css3";

@import "settings";

@import "skeleton";
@import "reset";
@import "style";
@import "social";
@import "flexslider";
@import "prettyPhoto";
@import "shortcodes";
@import "media";

.main-menu {
  form {
    display: inline;
  }

  .button {
    padding: 0 0.5em;
    height: 30px;
    line-height: 30px !important;
    font-family: 'BebasNeueRegular', sans-serif;
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
  }
}
